<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class=" ">
        
        <div >
         <table>
             <tr>
                 <th>
                     id
                  </th>
                 <th>
                firstname
                 </th>
                 <th>
                   lastname
                     </th>
 
                 <th>
                     email
                 </th>
                 <th>
                     phone number
                 </th>
                 <th>
                     state
                 </th>
             </tr>
             <tr>
                
                 <tr>
                    <td>{{cm.id}}</td>
                    <td>{{cm.firstname}}</td>
                    <td>{{cm.lastname}}</td>
                    <td>{{cm.email}}</td>
                    <td>{{cm.phonenumber}}</td>
                    <td>{{cm.state}}</td>
                   
                    
                </tr>
                 
                

             </tr>
            
             
         </table>
        </div>
</body>
</html>