{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>

    <div class="home-condiner">
        <div class="home-primery">
            <img src="static/image/beautiful-viewpoint-koh-nangyuan-island-surat-thani-thailand.jpg">
            <div class="nev-bar">
                <div class="nav-child">
                    <p>
                        beach hotal
                    </p>
                </div>
                <div class="nev-items">
                    <ul>
                        <li>
                            home
                        </li>
                        <li>
                            about
                        </li>
                        <li>
                            contact
                        </li>

                        <li class="dropdown">
                            <a href="#" class=" dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">coustomer</a>

                            <div class="dropdown-menu " aria-expanded="false">
                                <a class="dropdown-item" href="\cuslog">login</a>
                                <a class="dropdown-item" href="\cusignup">sign up</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class=" dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">staff</a>

                            <div class="dropdown-menu " aria-expanded="false">
                                <a class="dropdown-item" href="\slog">login</a>
                                <a class="dropdown-item" href="\ssing">sign up</a>
                            </div>
                        </li>
                    </ul>

                </div>



            </div>
            <div class="center-content">
                <div class=" main-btn">
                    <h1>a best place to stay</h1>
                    <h2>enjoy your moments</h2>
                    <button class="">
                        book now
                    </button>
                </div>








            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>


</body>

</html>